In [2]:
! gdown 1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq

Downloading...
From: https://drive.google.com/uc?id=1iA0WmVfW88HyJvTBSQDI5vesf-pgKabq
To: /Users/admin/AIO-2024/week5/advertising.csv
100%|██████████████████████████████████████| 4.06k/4.06k [00:00<00:00, 8.14MB/s]

In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv ('advertising.csv')
data = df.to_numpy()

In [4]:
df

        TV  Radio  Newspaper  Sales
0    230.1   37.8       69.2   22.1
1     44.5   39.3       45.1   10.4
2     17.2   45.9       69.3   12.0
3    151.5   41.3       58.5   16.5
4    180.8   10.8       58.4   17.9
..     ...    ...        ...    ...
195   38.2    3.7       13.8    7.6
196   94.2    4.9        8.1   14.0
197  177.0    9.3        6.4   14.8
198  283.6   42.0       66.2   25.5
199  232.1    8.6        8.7   18.4

[200 rows x 4 columns]

Ex15: `np.max` and `np.argmax`

In [5]:
# max value of sale col
print(f'Max: {data.max(axis=0)[-1]} - Index: {data.argmax(axis=0)[-1]}')

Max: 27.0 - Index: 175

Ex16: `np.mean`

In [6]:
# mean value of TV col
data.mean(axis=0)[0]

147.0425

Ex17: `np.count_nonzero`

In [7]:
# number of rows with sales > 20

condition = data[:, -1] >= 20 
count = np.count_nonzero(condition)
print(f'Number of rows with sales >= 20: {count}')

Number of rows with sales >= 20: 40

Ex18 and Ex19: Apply Boolean Indexing

In [8]:
# mean value of ratio for rows with sale >= 15
condition = data[:, -1] >= 15 
selected_row = data[condition]
selected_row.mean(axis=0)[1]


# sum of sales for rows with newspaper >= mean value of newspaper 
newspaper_mean = data.mean(axis=0)[2] 
condition = data[:, 2] >= newspaper_mean 
selected_row = data[condition]
selected_row.sum(axis=0)[-1]

1405.1000000000004

Ex20 and Ex21: Conbine condition and `np.vectorized`

In [19]:
#Ex20

def rating_avg(value):
   sale_mean = data.mean(axis=0)[-1]
   if sale_mean > value:
      return 'Bad' 
   elif sale_mean == value:
      return 'Average' 
   else:
      return 'Good' 

vectorized_rating = np.vectorize(rating_avg, otypes=[str]) 
print(vectorized_rating(data[:, -1])[7:10])


def rating_closest(value):
   sale_mean = data[:,-1].mean(axis=0)
   differences = np.abs(sale_mean - data[:,-1]) 
   idx = np.argmin(differences)
   closest = data[idx, -1]
   if closest > value:
      return 'Bad' 
   elif closest == value:
      return 'Average' 
   else:
      return 'Good' 

vectorized_rating = np.vectorize(rating_closest, otypes=[str]) 
print(vectorized_rating(data[:, -1])[7:10])

['Bad' 'Bad' 'Good']
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
15.2
['Bad' 'Bad' 'Good']